sudo: required
dist: trusty
language: generic

services:
- docker

install:
- curl https://www.chef.io/chef/install.sh | sudo bash -s -- -P chefdk
- chef gem install kitchen-docker

script:
- docker version
- kitchen --version
- for policy in policies/*.rb; do chef install $policy; done
- kitchen test -d always
